
$theme-colors: (
    "primary": #000000
);

$body-bg: #ededed;


@import "node_modules/bootstrap/scss/bootstrap";

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219) !important;
}